<p class="footer-text"><!--Basic User Manager App for DevOps course application--></p>
<!--
<script src="node_modules/material-components-web/dist/material-components-web.js"></script>
<script>mdc.autoInit()</script>
-->